APP_NAME=portfolio-api

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_DB=portfolio
POSTGRES_USER=portfolio-user
POSTGRES_PASSWORD=changeme

LOG_LEVEL=DEBUG

# OpenTelemetry tracing
OTEL_ENABLED=true
OTLP_ENDPOINT=http://localhost:4318/v1/traces
OTLP_INSECURE=true